# Node modules & dependencies
node_modules/
package-lock.json

# Next.js build output
.next/
out/

# Production build
build/

# Environment Variables (Sangat Krusial!)
.env
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Vercel deployment
.vercel/

# TypeScript & IDEs
*.tsbuildinfo
.vscode/
.idea/

# Testing & Monorepo
coverage/
jest-test-results.json
turbo/